<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:container="http://typo3.org/ns/B13/Container/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<button style="margin-bottom: 5px;" class="btn" type="button" data-toggle="collapse" data-target="#collapse{CType}" aria-expanded="true" aria-controls="collapse{CType}">
    <i class="fa fa-chevron-up"></i>
</button>
<div class="collapse in" id="collapse{CType}">
    <div class="card card-body" style="background-color: #FAFAFA;">
        <f:format.raw>{tx_container_grid}</f:format.raw>
    </div>
</div>
</html>
