<html data-namespace-typo3-fluid="true" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="container">
	<div class="row align-items-center justify-content-between">
		<div class="col-auto">
	<ul class="header-top-info-items">
		<f:if condition="{theme.headertopinfo.items.address}">
			<li class="top-info-address">{theme.headertopinfo.items.address}</li>
		</f:if>
		<f:if condition="{theme.headertopinfo.items.email}">
			<li class="top-info-email"><f:link.email class="header-top-info-link" email="{theme.headertopinfo.items.email}"/></li>
		</f:if>
		<f:if condition="{theme.headertopinfo.items.openinghours}">
			<li class="top-info-openinghours">{theme.headertopinfo.items.openinghours}</li>
		</f:if>
		<f:if condition="{theme.headertopinfo.items.phone}">
			<li class="top-info-phone"></i><ebp:link.phone class="header-top-info-link" phone="{theme.headertopinfo.items.phone}"/></li>
		</f:if>
	</ul>
		</div>
			<f:if condition="{theme.socialmedia.enable}">
				<div class="header-top-info-links">
					<ul class="header-top-info-social-links">
						<f:for each="{theme.socialmedia.channels}" key="channelKey" as="channelOptions">
							<f:if condition="{channelOptions.url}">
								<li title="{channelOptions.label}">
									<a class="header-top-info-link" href="{channelOptions.url}" rel="noopener" target="_blank">
										<i class="sociallinks-link-icon bootstrappackageicon bootstrappackageicon-{channelKey}"></i>
									</a>
								</li>
							</f:if>
						</f:for>
					</ul>
				</div>
			</f:if>
		</div>
</div>
