<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"  xmlns:ebp="http://typo3.org/ns/T3graf/ExtendedBootstrapPackage/ViewHelpers"data-namespace-typo3-fluid="true">

<f:if condition="{theme.headertopinfo.enabled}">

	<nav id="top-bar" class="collapse show navbar-collapse header-top-info-{theme.navigation.style}">
		<f:render partial="Structure/HeaderTopInfoContent" arguments="{_all}" />
	</nav>
</f:if>
