<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="grid-container grid-container-twocolumns">
        <div class="row grid-row grid-row-1">
            <f:render section="101Column" arguments="{_all}" />
            <f:render section="102Column" arguments="{_all}" />
            <f:render section="103Column" arguments="{_all}" />
            <f:render section="104Column" arguments="{_all}" />
        </div>
    </div>
</f:section>
</html>

<f:section name="101Column">
    <f:variable name="backgroundClassCol1">frame-background-{f:if(condition: flexform.bg_color_col_1, else: 'none', then: flexform.bg_color_col_1)}</f:variable>
    <f:if condition="{col_1}">
        <div class="{f:if(condition: '{flexform.col_xs_1}', then: '{flexform.col_xs_1} ')}{f:if(condition: '{flexform.col_sm_1}', then: '{flexform.col_sm_1} ')}{f:if(condition: '{flexform.col_md_1}', then: '{flexform.col_md_1} ')}{flexform.col_lg_1} grid-column grid-column-1 {backgroundClassCol1}">
            <f:for each="{col_1}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </f:if>
</f:section>

<f:section name="102Column">
    <f:variable name="backgroundClassCol2">frame-background-{f:if(condition: flexform.bg_color_col_2, else: 'none', then: flexform.bg_color_col_2)}</f:variable>
    <f:if condition="{col_2}">
        <div class="{f:if(condition: '{flexform.col_xs_2}', then: '{flexform.col_xs_2} ')}{f:if(condition: '{flexform.col_sm_2}', then: '{flexform.col_sm_2} ')}{f:if(condition: '{flexform.col_md_2}', then: '{flexform.col_md_2} ')}{flexform.col_lg_2} grid-column grid-column-2 {backgroundClassCol2}">
            <f:for each="{col_2}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </f:if>
</f:section>
<f:section name="103Column">
    <f:variable name="backgroundClassCol3">frame-background-{f:if(condition: flexform.bg_color_col_3, else: 'none', then: flexform.bg_color_col_3)}</f:variable>
    <f:if condition="{col_3}">
        <div class="{f:if(condition: '{flexform.col_xs_3}', then: '{flexform.col_xs_3} ')}{f:if(condition: '{flexform.col_sm_3}', then: '{flexform.col_sm_3} ')}{f:if(condition: '{flexform.col_md_3}', then: '{flexform.col_md_3} ')}{flexform.col_lg_3} grid-column grid-column-3 {backgroundClassCol3}">
            <f:for each="{col_3}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </f:if>
</f:section>
<f:section name="104Column">
    <f:variable name="backgroundClassCol4">frame-background-{f:if(condition: flexform.bg_color_col_4, else: 'none', then: flexform.bg_color_col_4)}</f:variable>
    <f:if condition="{col_4}">
        <div class="{f:if(condition: '{flexform.col_xs_4}', then: '{flexform.col_xs_4} ')}{f:if(condition: '{flexform.col_sm_4}', then: '{flexform.col_sm_4} ')}{f:if(condition: '{flexform.col_md_4}', then: '{flexform.col_md_4} ')}{flexform.col_lg_4} grid-column grid-column-4 {backgroundClassCol4}">
            <f:for each="{col_4}" as="child">
                <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
        </div>
    </f:if>
</f:section>
