<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:if condition="{theme.headertopinfo.enabled} && {theme.navigation.type} == top">
    <f:then>
        <f:variable name="headerClass">{headerClass} navbar-{theme.navigation.type}</f:variable>
    </f:then>
    <f:else>
        <f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
    </f:else>
</f:if>

<header id="page-header" class="{headerClass}">

        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#top-bar" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <i class="fas fa-ellipsis-v"></i>
            </button>
        <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}" title="{settings.logo.linktitle}">
            <f:if condition="{logo.normal}">
                <f:then>
                    <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    <f:if condition="{logo.inverted}">
                        <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    </f:if>
                </f:then>
                <f:else>
                    <span>{siteTitle}</span>
                </f:else>
            </f:if>
        </f:link.page>
        <f:if condition="{mainnavigation}">

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render section="MainNavigation" arguments="{menu: mainnavigation, theme: theme}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
            </nav>
        </f:if>
        </div>
</header>

<f:section name="MainNavigation">

    <f:if condition="{menu}">
        <ul class="navbar-nav">
            <f:for each="{menu}" as="item">

                <f:if condition="{item.spacer}">
                    <f:then>
                        </ul>
                        <ul class="navbar-nav">
                    </f:then>
                    <f:else>
                        <li class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: 'item.children || item.data.is_megamenu', then:' dropdown dropdown-hover')}{f:if(condition: item.data.is_megamenu, then:' megamenu-dropdown')}">
                            <a href="{item.link}" id="nav-item-{item.data.uid}" class="nav-link{f:if(condition: 'item.children || item.data.is_megamenu', then:' dropdown-toggle')}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}"{f:if(condition: item.children, then:' aria-haspopup="true" aria-expanded="false"')}>
                                <f:if condition="{theme.navigation.icon.enable} && {item.icon}">
                                    <span class="nav-link-icon">
                                        <f:if condition="{item.icon.0.extension} === svg">
                                            <f:then>
                                                <bk2k:inlineSvg image="{item.icon.0}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}" />
                                            </f:then>
                                            <f:else>
                                                <f:image additionalAttributes="{loading: 'lazy'}" image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}" />
                                            </f:else>
                                        </f:if>
                                    </span>
                                </f:if>
                                <span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span class="sr-only">(current)</span></f:if></span>
                            </a>
                            <f:if condition="{item.data.is_megamenu}">
    <f:then>
        <div class="mega-dropdown-menu dropdown-menu ">

                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{
      pageUid: '{item.data.is_megamenu}',
      colPos: '0',
      slide: '0',
      wrap: '<div class=\"mega-dropdown-container\">|</div>'
              }" />

        </div>
    </f:then>
                                <f:else>
                                    <f:if condition="{item.children}">
                                        <ul class="dropdown-menu {f:if(condition: item.data.is_largedropdown, then:' dropdown-menu-large')}" aria-labelledby="nav-item-{item.data.uid}">
<f:if condition="{item.data.is_largedropdown}">
    <f:then>
        <f:render section="LargeDropdown" arguments="{item: item, theme: theme}" />
    </f:then>
    <f:else>
        <f:for each="{item.children}" as="child">
            <f:if condition="{child.spacer}">
                <f:then>
                    <li class="dropdown-divider"></li>
                </f:then>
                <f:else>
                    <li>
                        <a href="{child.link}" class="dropdown-item{f:if(condition: child.active, then:' active')}"{f:if(condition: child.target, then: ' target="{child.target}"')} title="{child.title}">
                        <f:if condition="{theme.navigation.dropdown.icon.enable} && {child.icon}">
                                                            <span class="dropdown-icon">
                                                                <f:if condition="{child.icon.0.extension} === svg">
                                                                    <f:then>
                                                                        <bk2k:inlineSvg image="{child.icon.0}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:image additionalAttributes="{loading: 'lazy'}" image="{child.icon.0}" alt="{child.icon.0.alternative}" title="{child.icon.0.title}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:else>
                                                                </f:if>
                                                            </span>
                        </f:if>
                        <span class="dropdown-text">{child.title}<f:if condition="{child.current}"> <span class="sr-only">(current)</span></f:if></span>
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>
    </f:else>
</f:if>

                                        </ul>
                                    </f:if>
                                </f:else>

    </f:if>

                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="LargeDropdown">

<div class="row">
        <f:for each="{item.children}" as="child">

            <f:if condition="{child.spacer}">
                <f:then>
                    <li class="dropdown-divider"></li>
                </f:then>
                <f:else>
                    <li class="col-md-4 col-lg-4 col-sm-6">
                        <a href="{child.link}" class="dropdown-menu-large-headline{f:if(condition: child.active, then:' active')}"{f:if(condition: child.target, then: ' target="{child.target}"')} title="{child.title}">
                        <f:if condition="{theme.navigation.dropdown.icon.enable} && {child.icon}">
                                                            <span class="dropdown-icon">
                                                                <f:if condition="{child.icon.0.extension} === svg">
                                                                    <f:then>
                                                                        <bk2k:inlineSvg image="{child.icon.0}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:image additionalAttributes="{loading: 'lazy'}" image="{child.icon.0}" alt="{child.icon.0.alternative}" title="{child.icon.0.title}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:else>
                                                                </f:if>
                                                            </span>
                        </f:if>
                        <span class="dropdown-text">{child.title}<f:if condition="{child.current}"> <span class="sr-only">(current)</span></f:if></span>
                        </a>
                        <f:if condition="{child.children}">
                            <ul class="dropdown-menu-large-submenu">
                                <f:for each="{child.children}" as="subchild">
                                    <li>
                                        <a href="{subchild.link}" class="dropdown-item{f:if(condition: subchild.active, then:' active')}"{f:if(condition: subchild.target, then: ' target="{subchild.target}"')} title="{subchild.title}">
                                        <f:if condition="{theme.navigation.dropdown.icon.enable} && {subchild.icon}">
                                                            <span class="dropdown-icon">
                                                                <f:if condition="{subchild.icon.0.extension} === svg">
                                                                    <f:then>
                                                                        <bk2k:inlineSvg image="{subchild.icon.0}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:image additionalAttributes="{loading: 'lazy'}" image="{subchild.icon.0}" alt="{subchild.icon.0.alternative}" title="{subchild.icon.0.title}" width="{theme.navigation.dropdown.icon.width}" height="{theme.navigation.dropdown.icon.height}" />
                                                                    </f:else>
                                                                </f:if>
                                                            </span>
                                        </f:if>
                                        <span class="dropdown-text">{subchild.title}<f:if condition="{subchild.current}"> <span class="sr-only">(current)</span></f:if></span>
                                        </a>
                                    </li>
                                </f:for>

                            </ul>

                        </f:if>
                    </li>

                </f:else>
            </f:if>

        </f:for>
</div>
</f:section>
</html>
