.megamenu-dropdown {
  position:static;
}
.megamenu-dropdown > .dropdown-menu {
  width:100%;
  top: auto;
  padding: 0px;
}
.navbar-bottom .megamenu-dropdown > .dropdown-menu {
  bottom: 65%;
}

@media screen and (min-width: 992px) {
  .megamenu-dropdown ul {
	padding:15px;
  }

  .megamenu-dropdown > .dropdown-menu {
	min-width: 800px;
  }
  .mega-dropdown-container {
	padding: 0px;
  }
}

.dropdown-menu-large{ padding:20px; }
.dropdown-menu-large-headline{
  @extend .dropdown-item;
  color: $primary;
  border-bottom: 1px solid $light;
}
.dropdown-menu-large-headline:hover{
  @extend .dropdown-menu-large-headline:hover;
  text-decoration: none;
  background-color: transparent;
  color: $primary;
}
.dropdown-menu-large-submenu{
  padding-left: 0;
  list-style: none;
}
@media all and (max-width: 991px) {
  .dropdown-menu-large-headline{
    @extend .dropdown-item;
    color: $primary !important;
    border-bottom: 1px solid $light;
  }

}
@media all and (min-width: 992px) {
  .dropdown-menu-large{ min-width:500px; }
}


