.header-top-info-default {
  position: relative;
  background-color: $dark;
  color: $link-alternate-color;
  padding: .625rem 0;
  font-size: 1rem;
  z-index: 1;
  max-height: 3.125rem;
}
.header-top-info-default-transition {
  @extend .header-top-info-default;
  background-color: transparent;
}
.header-top-info-inverse {
  @extend .header-top-info-default;
  background-color: $light;
}
.header-top-info-inverse-transition {
  @extend .header-top-info-default-transition;
}
.header-top-info-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: -2.5rem;
  li {
    margin-right: .625rem;
    i {
      margin-right: .313rem;
    }
  }
}
.header-top-info-social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  li i {
    margin-right: .313rem;
  }
}
.header-top-info-link {
  margin-left: 0.313rem;
  color: $link-alternate-color;
  &:hover {
    text-decoration: none;
    color: $link-alternate-hover-color;
  }
}
.header-top-info-links {
  display: flex;
  align-items: center;
  margin-left: -2rem;
}

// info-bar toggler
@media (max-width: $grid-float-breakpoint - 1) {
  .header-top-info-links, .top-info-address, .top-info-openinghours {
    display: none;
  }
}
